# Dependencies from NPM, Composer, etc.
/vendor
/node_modules

# App storage
/public/storage

# Environment file
.env

# IDE files
/.idea

# Package development
/packages

# Homestead server
Homestead.yaml
Homestead.json
Vagrantfile
