.skin-blue,
.skin-blue-light,
.skin-green,
.skin-green-light,
.skin-purple,
.skin-purple-light,
.skin-red,
.skin-red-light,
.skin-yellow,
.skin-yellow-light,
.skin-black,
.skin-black-light {
  .content-header {
    padding: 15px;
    background-color: #f9fafc;
    border-bottom: 1px solid #d2d6de;
  }
}

